In [1]:
import logging
from lib.gnaf_db import GnafDb
from lib.service.io import IoService
from lib.tasks.fetch_static_files import initialise, get_session

from lib import notebook_constants as nc

logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')

io = IoService.create(None)

async with get_session(io) as session:
    environment = await initialise(io, session)

gnaf = GnafDb.create()
gnaf.wait_till_running()

gnaf_2 = GnafDb.create(nc.gnaf_dbconf_2, nc.gnaf_dbname_2)
gnaf_2.wait_till_running()

2024-09-24 12:02:37,648 - INFO - Checking Target "non_abs_shape.zip"
2024-09-24 12:02:37,649 - INFO - Checking Target "cities.zip"
2024-09-24 12:02:37,649 - INFO - Checking Target "g-naf_aug24_allstates_gda2020_psv_1016.zip"
2024-09-24 12:02:37,649 - INFO - Checking Target "nswvg_lv_01_Sep_2024.zip"
2024-09-24 12:02:37,650 - INFO - Checking Target "nswvg_wps_01_Jan_2024.zip"
2024-09-24 12:02:37,650 - INFO - Checking Target "nswvg_wps_08_Jan_2024.zip"
2024-09-24 12:02:37,650 - INFO - Checking Target "nswvg_wps_15_Jan_2024.zip"
2024-09-24 12:02:37,650 - INFO - Checking Target "nswvg_wps_22_Jan_2024.zip"
2024-09-24 12:02:37,651 - INFO - Checking Target "nswvg_wps_29_Jan_2024.zip"
2024-09-24 12:02:37,651 - INFO - Checking Target "nswvg_wps_05_Feb_2024.zip"
2024-09-24 12:02:37,651 - INFO - Checking Target "nswvg_wps_12_Feb_2024.zip"
2024-09-24 12:02:37,651 - INFO - Checking Target "nswvg_wps_19_Feb_2024.zip"
2024-09-24 12:02:37,652 - INFO - Checking Target "nswvg_wps_26_Feb_2024.zip"
2024-09-24 12:02:37,652 - INFO - Checking Target "nswvg_wps_04_Mar_2024.zip"
2024-09-24 12:02:37,652 - INFO - Checking Target "nswvg_wps_11_Mar_2024.zip"
2024-09-24 12:02:37,652 - INFO - Checking Target "nswvg_wps_18_Mar_2024.zip"
2024-09-24 12:02:37,653 - INFO - Checking Target "nswvg_wps_25_Mar_2024.zip"
2024-09-24 12:02:37,653 - INFO - Checking Target "nswvg_wps_01_Apr_2024.zip"
2024-09-24 12:02:37,653 - INFO - Checking Target "nswvg_wps_08_Apr_2024.zip"
2024-09-24 12:02:37,653 - INFO - Checking Target "nswvg_wps_15_Apr_2024.zip"
2024-09-24 12:02:37,654 - INFO - Checking Target "nswvg_wps_22_Apr_2024.zip"
2024-09-24 12:02:37,654 - INFO - Checking Target "nswvg_wps_29_Apr_2024.zip"
2024-09-24 12:02:37,654 - INFO - Checking Target "nswvg_wps_06_May_2024.zip"
2024-09-24 12:02:37,655 - INFO - Checking Target "nswvg_wps_13_May_2024.zip"
2024-09-24 12:02:37,655 - INFO - Checking Target "nswvg_wps_20_May_2024.zip"
2024-09-24 12:02:37,655 - INFO - Checking Target "nswvg_wps_27_May_2024.zip"
2024-09-24 12:02:37,655 - INFO - Checking Target "nswvg_wps_03_Jun_2024.zip"
2024-09-24 12:02:37,656 - INFO - Checking Target "nswvg_wps_10_Jun_2024.zip"
2024-09-24 12:02:37,656 - INFO - Checking Target "nswvg_wps_17_Jun_2024.zip"
2024-09-24 12:02:37,656 - INFO - Checking Target "nswvg_wps_24_Jun_2024.zip"
2024-09-24 12:02:37,657 - INFO - Checking Target "nswvg_wps_01_Jul_2024.zip"
2024-09-24 12:02:37,657 - INFO - Checking Target "nswvg_wps_08_Jul_2024.zip"
2024-09-24 12:02:37,657 - INFO - Checking Target "nswvg_wps_15_Jul_2024.zip"
2024-09-24 12:02:37,657 - INFO - Checking Target "nswvg_wps_22_Jul_2024.zip"
2024-09-24 12:02:37,658 - INFO - Checking Target "nswvg_wps_29_Jul_2024.zip"
2024-09-24 12:02:37,658 - INFO - Checking Target "nswvg_wps_05_Aug_2024.zip"
2024-09-24 12:02:37,658 - INFO - Checking Target "nswvg_wps_12_Aug_2024.zip"
2024-09-24 12:02:37,659 - INFO - Checking Target "nswvg_wps_19_Aug_2024.zip"
2024-09-24 12:02:37,659 - INFO - Checking Target "nswvg_wps_26_Aug_2024.zip"
2024-09-24 12:02:37,659 - INFO - Checking Target "nswvg_wps_02_Sep_2024.zip"
2024-09-24 12:02:37,660 - INFO - Checking Target "nswvg_wps_09_Sep_2024.zip"
2024-09-24 12:02:37,660 - INFO - Checking Target "nswvg_wps_16_Sep_2024.zip"
2024-09-24 12:02:37,661 - INFO - Checking Target "nswvg_wps_23_Sep_2024.zip"
2024-09-24 12:02:37,661 - INFO - Checking Target "nswvg_aps_1990.zip"
2024-09-24 12:02:37,662 - INFO - Checking Target "nswvg_aps_1991.zip"
2024-09-24 12:02:37,662 - INFO - Checking Target "nswvg_aps_1992.zip"
2024-09-24 12:02:37,663 - INFO - Checking Target "nswvg_aps_1993.zip"
2024-09-24 12:02:37,663 - INFO - Checking Target "nswvg_aps_1994.zip"
2024-09-24 12:02:37,664 - INFO - Checking Target "nswvg_aps_1995.zip"
2024-09-24 12:02:37,664 - INFO - Checking Target "nswvg_aps_1996.zip"
2024-09-24 12:02:37,665 - INFO - Checking Target "nswvg_aps_1997.zip"
2024-09-24 12:02:37,665 - INFO - Checking Target "nswvg_aps_1998.zip"
2024-09-24 12:02:37,665 - INFO - Checking Target "nswvg_aps_1999.zip"
2024-09-24 12:02:37,666 - INFO - Checking Target "nswvg_aps_2000.zip"
2024-09-24 12:02:37,666 - INFO - Checking Target "nswvg_aps_2001.zip"
2024-09-24 12:02:37,667 - INFO - Checking Target "nswvg_aps_2002.zip"
2024-09-24 12:02:37,667 - INFO - Checking Target "nswvg_aps_2003.zip"
2024-09-24 12:02:37,667 - INFO - Checking Target "nswvg_aps_2004.zip"
2024-09-24 12:02:37,669 - INFO - Checking Target "nswvg_aps_2005.zip"
2024-09-24 12:02:37,669 - INFO - Checking Target "nswvg_aps_2006.zip"
2024-09-24 12:02:37,669 - INFO - Checking Target "nswvg_aps_2007.zip"
2024-09-24 12:02:37,670 - INFO - Checking Target "nswvg_aps_2008.zip"
2024-09-24 12:02:37,670 - INFO - Checking Target "nswvg_aps_2009.zip"
2024-09-24 12:02:37,671 - INFO - Checking Target "nswvg_aps_2010.zip"
2024-09-24 12:02:37,671 - INFO - Checking Target "nswvg_aps_2011.zip"
2024-09-24 12:02:37,672 - INFO - Checking Target "nswvg_aps_2012.zip"
2024-09-24 12:02:37,672 - INFO - Checking Target "nswvg_aps_2013.zip"
2024-09-24 12:02:37,672 - INFO - Checking Target "nswvg_aps_2014.zip"
2024-09-24 12:02:37,673 - INFO - Checking Target "nswvg_aps_2015.zip"
2024-09-24 12:02:37,673 - INFO - Checking Target "nswvg_aps_2016.zip"
2024-09-24 12:02:37,673 - INFO - Checking Target "nswvg_aps_2017.zip"
2024-09-24 12:02:37,673 - INFO - Checking Target "nswvg_aps_2018.zip"
2024-09-24 12:02:37,674 - INFO - Checking Target "nswvg_aps_2019.zip"
2024-09-24 12:02:37,674 - INFO - Checking Target "nswvg_aps_2020.zip"
2024-09-24 12:02:37,674 - INFO - Checking Target "nswvg_aps_2021.zip"
2024-09-24 12:02:37,675 - INFO - Checking Target "nswvg_aps_2022.zip"
2024-09-24 12:02:37,675 - INFO - Checking Target "nswvg_aps_2023.zip"

## Link GNAF with land values

Now for a messy part. There's a few obstacles in the way before we can link the GNAF dataset with the addresses in the NSW valuer general dataset. Here are a few

- No direct identifer found in both on a property basis
- Inconsistent street naming conventions
- Some properties are missing fields you'd expect to use to link data `suburb` and `street_name`

In [2]:
import numpy as np
import pandas as pd
from fuzzywuzzy import fuzz
from scipy.optimize import linear_sum_assignment

engine = gnaf.engine()

with gnaf.connect() as conn:
    cursor = conn.cursor()
    cursor.execute("DROP TABLE IF EXISTS nsw_valuer_general.property_assoc")
    cursor.execute("DROP TABLE IF EXISTS nsw_valuer_general.street_assoc")
    cursor.execute("DROP TABLE IF EXISTS nsw_valuer_general.suburb_assoc")
    
    with open('sql/nsw_lv_schema_4_links.sql', 'r') as f:
        cursor.execute(f.read())
    cursor.close()

suburbs_df = pd.read_sql("""
SELECT DISTINCT su.suburb_id, su.suburb_name, su.district_code
  FROM nsw_valuer_general.property p
  LEFT JOIN nsw_valuer_general.suburb su ON p.suburb_id = su.suburb_id
 ORDER BY su.suburb_name
 -- WHERE su.suburb_name = 'ADAMINABY'
""", engine)

def check_col_is_unique(df, col, msg, throw=False):
    if df[col].is_unique:
        return None
        
    indexes = df[col].duplicated(keep=False)
    display(df[indexes])
    print(msg % df[indexes][col].unique())
    
    if throw:
        raise Exception("Failed unique check")
    else:
        return indexes

def calculate_cost_matrix(df_a, df_b):
    cost_matrix = []
    for _, row_a in df_a.iterrows():
        row_costs = []
        for _, row_b in df_b.iterrows():
            score = 100 - fuzz.ratio(row_a['street_name'], row_b['gnaf_street_name'])
            row_costs.append(score)
        cost_matrix.append(row_costs)
    
    # Padding the cost matrix to ensure square shape
    max_dim = max(len(df_a), len(df_b))
    padded_cost_matrix = np.full((max_dim, max_dim), 100)  # High cost for padding
    padded_cost_matrix[:len(df_a), :len(df_b)] = cost_matrix
    
    return padded_cost_matrix
    
unmatched_rows = []

for index, suburb in suburbs_df.iterrows():
    print(suburb['suburb_name'])
    
    vg_streets_df = pd.read_sql("""
        SELECT *
          FROM nsw_valuer_general.street
         WHERE suburb_id = %(suburb_id)s
    """, engine, params={
        "suburb_id": suburb['suburb_id'],
    })
    
    if len(vg_streets_df) == 0:
        print('no matches')
        raise Exception()

    postcodes = tuple(vg_streets_df['postcode'].unique())

    gnaf_s_df = pd.read_sql("""
        SELECT DISTINCT 
            sl.street_locality_pid as gnaf_street_locality_pid,
            sl.street_name,
            sl.street_type_code,
            sl.street_name 
              || COALESCE(' ' || sta.name, '')
              || COALESCE(' ' || ssa.name, '')
              as gnaf_street_name,
            l.locality_name as suburb_name,
            ad.postcode

          FROM gnaf.ADDRESS_DETAIL ad
          LEFT JOIN gnaf.locality l ON ad.locality_pid = l.locality_pid
          LEFT JOIN gnaf.STREET_LOCALITY sl ON sl.street_locality_pid = ad.street_locality_pid
          LEFT JOIN gnaf.STATE s ON l.state_pid = s.state_pid
          LEFT JOIN gnaf.STREET_TYPE_AUT sta ON sta.code = sl.street_type_code
          LEFT JOIN gnaf.STREET_SUFFIX_AUT ssa ON ssa.code = sl.street_suffix_code
          
         WHERE l.locality_name = %(suburb_name)s
           AND ad.postcode IN %(postcodes)s
           AND s.state_abbreviation = 'NSW'
    """, engine, params={
        "suburb_name": suburb['suburb_name'],
        "postcodes": postcodes,
    })

    for postcode in postcodes:
        v_slice = vg_streets_df[vg_streets_df['postcode'] == postcode].reset_index(drop=True)
        g_slice = gnaf_s_df[gnaf_s_df['postcode'] == postcode].reset_index(drop=True)
        
        check_col_is_unique(g_slice,
                            'gnaf_street_name',
                            f"{suburb['suburb_name']} non unique streets %s",
                            throw=True)
        
        if len(g_slice) == 0:
            unmatched_rows.append(v_slice)
            continue
        
        cost_matrix = calculate_cost_matrix(v_slice, g_slice)
        row_ind, col_ind = linear_sum_assignment(cost_matrix)
    
        v_slice['gnaf_street_name'] = [
            g_slice.iloc[col]['gnaf_street_name'] if col < len(gnaf_s_df) else None
            for col in col_ind[:len(v_slice)]
        ]
        v_slice['gnaf_street_name_cost'] = [
            cost_matrix[idx, col_idx]
            for idx, col_idx in enumerate(col_ind[:len(v_slice)])
        ]

        v_slice['drop'] = False
        v_slice.loc[v_slice['gnaf_street_name'].isna(), 'drop'] = True
        v_slice.loc[v_slice['gnaf_street_name_cost'] > 20, 'drop'] = True

        if not v_slice[v_slice['drop']].empty:
            unmatched = v_slice[v_slice['drop']]
            display(unmatched[['street_name', 'gnaf_street_name', 'gnaf_street_name_cost']])
            unmatched_rows.append(unmatched)
            
        display(v_slice[~v_slice['drop']])
        
        v_slice = v_slice[~v_slice['drop']]\
            .merge(g_slice, how='left', on=['gnaf_street_name', 'postcode'])
        
        street_assoc_df = v_slice[['street_id', 'gnaf_street_locality_pid']]
        street_assoc_df.to_sql('street_assoc',
                               engine,
                               schema='nsw_valuer_general',
                               if_exists='append',
                               index=False)

AARONS PASS

,street_id,street_name,district_code,suburb_id,postcode,gnaf_street_name,gnaf_street_name_cost,drop
0,77,AARONS PASS RD,620,1,2850,AARONS PASS RD,0,False
1,13100,BOMBANDI RD,620,1,2850,BOMBANDI RD,0,False
2,22126,CASTLEREAGH HWY,620,1,2850,CASTLEREAGH HWY,0,False
3,30292,CRUDINE RD,620,1,2850,CRUDINE RD,0,False
4,91032,PERRAMS RD,620,1,2850,PERRAMS RD,0,False
5,110157,SUTTERS LANE,620,1,2850,SUTTERS LANE,0,False
6,121404,WATTLE BRAE LANE,620,1,2850,WATTLE BRAE LANE,0,False

ABBOTSBURY

,street_id,street_name,district_code,suburb_id,postcode,gnaf_street_name,gnaf_street_name_cost,drop
0,6538,BALSON CL,220,2,2176,BALSON CL,0,False
1,6610,BANCROFT RD,220,2,2176,BANCROFT RD,0,False
2,9165,BEGOVICH CRES,220,2,2176,BEGOVICH CR,8,False
3,9457,BELLETTE CL,220,2,2176,BELLETTE CL,0,False
4,14837,BRACK CL,220,2,2176,BRACK CL,0,False
5,26059,COCHRAN PL,220,2,2176,COCHRAN PL,0,False
6,26851,COMIN PL,220,2,2176,COMIN PL,0,False
7,27069,CONDOR CL,220,2,2176,CONDOR CL,0,False
8,29156,COWPASTURE RD,220,2,2176,COWPASTURE RD,0,False
9,31306,DALBERTIS ST,220,2,2176,DALBERTIS ST,0,False
10,31938,DARLING ST,220,2,2176,DARLING ST,0,False
11,33916,DIXON ST,220,2,2176,DIXON ST,0,False
12,34969,DRISCOLL ST,220,2,2176,DRISCOLL ST,0,False
13,37506,ELIZABETH DR,220,2,2176,ELIZABETH DR,0,False
14,40117,FALMER ST,220,2,2176,FALMER ST,0,False
15,42322,FORBES CL,220,2,2176,FORBES CL,0,False
16,46053,GLEESON PL,220,2,2176,GLEESON PL,0,False
17,46616,GLENTON ST,220,2,2176,GLENTON ST,0,False
18,47641,GOUDA CL,220,2,2176,GOUDA CL,0,False
19,50218,HACKETT RD,220,2,2176,HACKETT RD,0,False
20,52586,HEATLEY CL,220,2,2176,HEATLEY CL,0,False
21,53509,HEYSEN ST,220,2,2176,HEYSEN ST,0,False
22,53577,HICKEY CL,220,2,2176,HICKEY CL,0,False
23,54551,HINDER CL,220,2,2176,HINDER CL,0,False
24,55569,HORN CL,220,2,2176,HORN CL,0,False
25,56893,ILFORD PL,220,2,2176,ILFORD PL,0,False
26,62806,KIERNAN CRES,220,2,2176,KIERNAN CR,9,False
27,63601,KINGSTON PL,220,2,2176,KINGSTON PL,0,False
28,65860,LANCELEY PL,220,2,2176,LANCELEY PL,0,False
29,67550,LEWERS CL,220,2,2176,LEWERS CL,0,False
30,72890,MARINER CRES,220,2,2176,MARINER CR,9,False
31,73432,MARTENS PL,220,2,2176,MARTENS PL,0,False
32,74224,MAXWELL PL,220,2,2176,MAXWELL PL,0,False
33,82782,NERLI ST,220,2,2176,NERLI ST,0,False
34,84782,NOWLAND PL,220,2,2176,NOWLAND PL,0,False
35,85783,OGDEN CL,220,2,2176,OGDEN CL,0,False
36,90625,PENDLEBURY PL,220,2,2176,PENDLEBURY PL,0,False
37,90899,PERCEVAL CL,220,2,2176,PERCEVAL CL,0,False
38,94232,PROCTER CL,220,2,2176,PROCTER CL,0,False
39,94352,PROVINCE ST,220,2,2176,PROVINCE ST,0,False
40,95364,RAFTER CRES,220,2,2176,RAFTER CR,10,False
41,96442,REACH CL,220,2,2176,REACH CL,0,False
42,99646,ROONY AVE,220,2,2176,ROONY AV,6,False
43,101077,RUTAR PL,220,2,2176,RUTAR PL,0,False
44,103325,SEIDEL PL,220,2,2176,SEIDEL PL,0,False
45,104846,SIBLEY CL,220,2,2176,SIBLEY CL,0,False
46,108520,STOCKDALE CRES,220,2,2176,STOCKDALE CR,8,False
47,111970,TELL CL,220,2,2176,TELL CL,0,False
48,112995,THE HORSLEY DR,220,2,2176,THE HORSLEY DRIVE,10,False
49,113981,THORPE PL,220,2,2176,THORPE PL,0,False
50,117339,UNSWORTH ST,220,2,2176,UNSWORTH ST,0,False
51,117620,USHER CL,220,2,2176,USHER CL,0,False
52,121081,WATERHOUSE ST,220,2,2176,WATERHOUSE ST,0,False
53,121379,WATTING ST,220,2,2176,WATTING ST,0,False
54,122505,WESTALL CL,220,2,2176,WESTALL CL,0,False
55,123188,WHISSON CL,220,2,2176,WHISSON CL,0,False
56,123462,WHITLEY PL,220,2,2176,WHITLEY PL,0,False
57,125426,WITHERS PL,220,2,2176,WITHERS PL,0,False
58,126123,WOODMAN PL,220,2,2176,WOODMAN PL,0,False
59,126903,WYLDE CRES,220,2,2176,WYLDE CR,11,False

ABBOTSFORD

,street_id,street_name,district_code,suburb_id,postcode,gnaf_street_name,gnaf_street_name_cost,drop
0,117,ABBOTSFORD COVE DR,139,3,2046,ABBOTSFORD COVE DR,0,False
1,119,ABBOTSFORD PDE,139,3,2046,ABBOTSFORD PDE,0,False
2,2369,ALTONA ST,139,3,2046,ALTONA ST,0,False
3,8257,BATTERSEA ST,139,3,2046,BATTERSEA ST,0,False
4,10967,BICKLEIGH ST,139,3,2046,BICKLEIGH ST,0,False
5,12040,BLACKWALL POINT RD,139,3,2046,BLACKWALL POINT RD,0,False
6,20183,CAMPBELL ST,139,3,2046,CAMPBELL ST,0,False
7,23617,CHARLTON ST,139,3,2046,CHARLTON ST,0,False
8,23686,CHATHAM PL,139,3,2046,CHATHAM PL,0,False
9,23741,CHECKLEY ST,139,3,2046,CHECKLEY ST,0,False
10,30946,CURTIN AVE,139,3,2046,CURTIN AV,5,False
11,40569,FEILBERG PL,139,3,2046,FEILBERG PL,0,False
12,41072,FIGTREE AVE,139,3,2046,FIGTREE AV,5,False
13,41605,FITZROY ST,139,3,2046,FITZROY ST,0,False
14,42139,FLOREY PL,139,3,2046,FLOREY PL,0,False
15,46512,GLEN ORMOND AVE,139,3,2046,GLEN ORMOND AV,3,False
16,47856,GOW ST,139,3,2046,GOW ST,0,False
17,48484,GREAT NORTH RD,139,3,2046,GREAT NORTH RD,0,False
18,50761,HAMPDEN RD,139,3,2046,HAMPDEN RD,0,False
19,51083,HARBOURVIEW CRES,139,3,2046,HARBOURVIEW CR,7,False
20,52973,HENRY LAWSON AVE,139,3,2046,HENRY LAWSON AV,3,False
21,56386,HUNTER ST,139,3,2046,HUNTER ST,0,False
22,57498,IRENE ST,139,3,2046,IRENE ST,0,False
23,64241,KOKODA ST,139,3,2046,KOKODA ST,0,False
24,67438,LESTER PL,139,3,2046,LESTER PL,0,False
25,72663,MARGARET ST,139,3,2046,MARGARET ST,0,False
26,73148,MARMION RD,139,3,2046,MARMION RD,0,False
27,74907,MCGIRR PL,139,3,2046,MCGIRR PL,0,False
28,76008,MELROSE CRES,139,3,2046,MELROSE CR,9,False
29,78803,MONTROSE RD,139,3,2046,MONTROSE RD,0,False
30,89507,PARKVIEW RD,139,3,2046,PARKVIEW RD,0,False
31,93188,POOLMAN ST,139,3,2046,POOLMAN ST,0,False
32,96412,RAYNOR AVE,139,3,2046,RAYNOR AV,5,False
33,99481,ROKEBY RD,139,3,2046,ROKEBY RD,0,False
34,107101,SPRING ST,139,3,2046,SPRING ST,0,False
35,107383,ST ALBANS ST,139,3,2046,ST ALBANS ST,0,False
36,112390,TEVIOT AVE,139,3,2046,TEVIOT AV,5,False
37,113430,THE TERRACE,139,3,2046,THE TERRACE,0,False
38,116975,TYLER CRES,139,3,2046,TYLER CR,11,False
39,119906,WALTON CRES,139,3,2046,WALTON CR,10,False
40,121839,WEDDLE AVE,139,3,2046,WEDDLE AV,5,False
41,122429,WERONA AVE,139,3,2046,WERONA AV,5,False
42,126932,WYMSTON PDE,139,3,2046,WYMSTON PDE,0,False

ABERCROMBIE

,street_id,street_name,district_code,suburb_id,postcode,gnaf_street_name,gnaf_street_name_cost,drop
0,211,ABERCROMBIE DR,608,4,2795,ABERCROMBIE DR,0,False
1,3575,APPLEBLOSSOM GR,608,4,2795,APPLEBLOSSOM GR,0,False
2,8378,BAYLISS ST,608,4,2795,BAYLISS ST,0,False
3,28036,COPEMAN CT,608,4,2795,COPEMAN CT,0,False
4,28923,COUNTRY WAY,608,4,2795,COUNTRY WAY,0,False
5,29172,COWPASTURES GR,608,4,2795,COWPASTURES GR,0,False
6,32068,DARWIN DR,608,4,2795,DARWIN DR,0,False
7,32179,DAVIDSON ST,608,4,2795,DAVIDSON ST,0,False
8,35735,DUNOON PL,608,4,2795,DUNOON PL,0,False
9,37164,EGLINTON RD,608,4,2795,EGLINTON RD,0,False
10,38937,ESROM ST,608,4,2795,ESROM ST,0,False
11,40220,FARMGATE DR,608,4,2795,FARMGATE DR,0,False
12,44790,GELL PL,608,4,2795,GELL PL,0,False
13,51852,HASTINGS PL,608,4,2795,HASTINGS PL,0,False
14,53629,HICKS CL,608,4,2795,HICKS CL,0,False
15,55307,HONEYSUCKLE CL,608,4,2795,HONEYSUCKLE CL,0,False
16,55871,HOWARTH CL,608,4,2795,HOWARTH CL,0,False
17,70274,LUPP PL,608,4,2795,LUPP PL,0,False
18,72345,MANSFIELD AVE,608,4,2795,MANSFIELD AV,4,False
19,86975,OPHIR RD,608,4,2795,OPHIR RD,0,False
20,88929,PARER RD,608,4,2795,PARER RD,0,False
21,94382,PRYCE PDE,608,4,2795,PRYCE PDE,0,False
22,98531,RIVERSIDE RTT,608,4,2795,RIVERSIDE RTT,0,False
23,102500,SCARBOROUGH PL,608,4,2795,SCARBOROUGH PL,0,False
24,122533,WESTBOURNE DR,608,4,2795,WESTBOURNE DR,0,False

ABERCROMBIE RIVER

,street_id,street_name,district_code,suburb_id,postcode,gnaf_street_name,gnaf_street_name_cost,drop
0,6253,BALD RIDGE RD,608,5,2795,BALD RIDGE RD,0,False
1,22523,CAVES RD,608,5,2795,CAVES RD,0,False
2,30782,CURRAGH RD,608,5,2795,CURRAGH RD,0,False
3,40104,FALLS RD,608,5,2795,FALLS RD,0,False
4,47657,GOULBURN RD,608,5,2795,GOULBURN RD,0,False

ABERDARE

  street_name gnaf_street_name  gnaf_street_name_cost
8   DUFFIE DR  QUARRYBYLONG ST                     83

,street_id,street_name,district_code,suburb_id,postcode,gnaf_street_name,gnaf_street_name_cost,drop
0,232,ABERDARE RD,1,6,2325,ABERDARE RD,0,False
1,15142,BRANDIS ST,1,6,2325,BRANDIS ST,0,False
2,19569,CALEDONIAN ST,1,6,2325,CALEDONIAN ST,0,False
3,23021,CESSNOCK ST,1,6,2325,CESSNOCK ST,0,False
4,26497,COLLIERY ST,1,6,2325,COLLIERY ST,0,False
5,26832,COMERFORD CL,1,6,2325,COMERFORD CL,0,False
6,27104,CONGEWAI ST,1,6,2325,CONGEWAI ST,0,False
7,30937,CURRY ST,1,6,2325,CURRY ST,0,False
9,49105,GRETA ST,1,6,2325,GRETA ST,0,False
10,61532,KEARSLEY ST,1,6,2325,KEARSLEY ST,0,False
11,75908,MELBOURNE ST,1,6,2325,MELBOURNE ST,0,False
12,80478,MULBRING ST,1,6,2325,MULBRING ST,0,False
13,84323,NORTHCOTE ST,1,6,2325,NORTHCOTE ST,0,False
14,90718,PENNIMENT ST,1,6,2325,PENNIMENT ST,0,False
15,92986,POKOLBIN ST,1,6,2325,POKOLBIN ST,0,False
16,96296,RAWSON ST,1,6,2325,RAWSON ST,0,False

ABERDEEN

  street_name gnaf_street_name  gnaf_street_name_cost
0  HALLS LANE          HALL ST                     41

,street_id,street_name,district_code,suburb_id,postcode,gnaf_street_name,gnaf_street_name_cost,drop
1,83082,NEW ENGLAND HWY,7,7,2336,NEW ENGLAND HWY,0,False
2,122185,WELLS GULLY RD,7,7,2336,WELLS GULLY RD,0,False

ABERDEEN

KeyboardInterrupt: